<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Roland Garros</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper deep-orange lighten-1">
        <img src="{{ asset('bundles/app/img/logo_60px.png') }}" class="brand-logo"/>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                {% block nav %}{% endblock %}
            </li>
        </ul>
    </div>
</nav>
{% block titre %}{% endblock %}

<div class="container" id="mainBlock">
    {% block body %}{% endblock %}
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"
{% block javascript %}{% endblock %}
</body>
</html>